<p style="margin-top:0px;">Hey, {{name}}!</p>

<p>
	A password reset has been requested for the account related to this email
	address ({{emailAddress}}).
</p>

<p>To reset the password, visit the following link:</p>

<p>
	<a
		href="{{resetUrl}}"
		class="btn-primary"
		itemprop="handler"
		itemscope
		itemtype="http://schema.org/HttpActionHandler"
		>Reset Password</a
	>
</p>

<p style="margin-bottom:0px;">
	Cheers, <br />
	CodeNameVero Team
</p>
