$extrasmall: 420px;
$small: 768px;
$medium: 959px;
$large: 1124px;

.product-list-wrapper {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: baseline;
	justify-content: flex-start;
}
.slick-slider > .card-product {
	width: 299px !important;
}

.card-product {
	display: inline-table;
	height: 490px;
	width: 320px !important;
	@media only screen and (max-width: $extrasmall) {
		width: 261px !important;
		box-shadow: none !important;
	}

	.header {
		display: flex;
		flex-direction: column;
	}
	.card-image {
		width: 100%;
		height: 200px;
		padding: 22px;
		margin-top: 20px;
	}
	.product-tags {
		position: absolute;
		z-index: 1;
		left: 0;
		right: 0;

		font-size: 14px;

		.tag {
			padding: 5px 14px;
			color: #fff;
			border-radius: 8px;
		}
		.tag:not(:nth-child(1)) {
			margin-left: 4px;
		}
	}
	.product-card-title {
		color: #427db7;

		&:hover {
			color: lighten(#427db7, 15);
		}
	}
	.product-card-description {
		overflow: hidden;
		height: 81px;
	}
	.ui[class*='right ribbon'].label {
		left: calc(99.5% + 0rem + 1.2em);
		top: -1px;
	}
	.product-extra {
		display: flex;
		justify-content: space-around;
		margin-bottom: 9px;
		.product-price {
			font-weight: bold;
			font-family: 'Lato', sans-serif;
			color: #b90b0d;
			font-size: 19px;

			padding: 2px 13px;
			border-radius: 7px;
		}
		.product-rating {
			display: flex;
			align-items: center;
			.product-reviews {
				margin-left: 3px;
				margin-top: 1px;
			}
		}
	}
	.product-buy {
		font-family: 'Raleway', sans-serif;
	}
}
