@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i');
$extrasmall: 420px;

$small: 767px;
$medium: 959px;
$large: 1124px;
body {
	margin: 0;
	padding: 0;

	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	color: #0d0d0d;
	background: #f2f2f2;
}

.ui.star.rating {
	.active.icon,
	.icon.selected,
	.icon.selected.active {
		color: #ff8252 !important;
		text-shadow: none !important;
	}
}

.section-header {
	text-align: center;
	font-weight: bold;
	font-size: 1.5rem;
	width: 100%;
}
.main-container {
	padding: 0 20px;
	min-height: 60vh;
	@media only screen and (max-width: $medium) {
		padding: 0;
	}
}
.mobile-menu {
	display: none !important;
	.header.item {
		display: flex !important;
		align-items: center;
		.mobile-bars {
			margin-left: auto !important;
			cursor: pointer;
		}
	}
}
@media only screen and (max-width: $small) {
	.mobile-menu {
		display: block !important;
	}
	.lg-menu {
		display: none !important;
	}
	.ui.segment,
	.mobile.column {
		padding: 0 !important;
	}
}

@media only screen and (max-width: $small) {
	.ui.container {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}
